
header {
    background-image: #ffffff;
    padding: 10px 0;
    font-family: 'Times New Roman', Times, serif;

}
main{
    background-color: #f7f7f7;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos uniformemente */
    width: 100%; /* Ocupa el ancho total del contenedor */
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px; /* Espaciado entre los elementos del menú */
}

.nav-menu a {
    color: #000000; /* Color del texto del menú */
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px; /* Espaciado interno de los enlaces */
    display: flex;
    transition: background-color 0.3s; /* Transición suave para el fondo */
    font-weight: bold;
}

.nav-menu a:hover {
    background-color: #575757; /* Fondo al pasar el ratón por encima */
    border-radius: 5px; /* Bordes redondeados al hacer hover */
}

.hero {
    background-image: url('../fotos/fondo.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff7ed;
    text-align: center;
    position: relative;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-image: url('/fotos/alga.jpg'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-attachment: fixed; /* La imagen se queda fija mientras scrolleas */
    background-position: center; /* Centrar la imagen */
}
.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 6rem; /* Tamaño de fuente grande */
    letter-spacing: 0.2rem; /* Espaciado entre letras */
    font-weight: 200;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;

}

.hero p {
    font-size: 30px; /* Tamaño de fuente grande */
    letter-spacing: 0.2rem; /* Espaciado entre letras */
    font-weight: 200;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;

}
.logo-container {
    position: absolute;
    top: 20px; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde la parte derecha */
    width: 100px;  /* Tamaño del logo */
    height: 100px;  /* Tamaño del logo */
    border-radius: 50%;  /* Hace que el contenedor tenga forma circular */
    overflow: hidden;  /* Asegura que la imagen se ajuste dentro del círculo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle un efecto elegante */
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
    border-radius: 50%;  /* Asegura que la imagen también sea circular */
}

.button-container {
    display: flex;
    justify-content: center; /* Posicionar a la derecha */
    margin: 20px; /* Un pequeño margen alrededor del contenedor */
}

/* Estilo del botón */
.button {
    padding: 20px 30px;  /* Tamaño más pequeño del botón */
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    text-decoration: none; /* Quitar subrayado del enlace */
    font-size: 16px; /* Tamaño de fuente más pequeño */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    border: 2px solid black; /* Borde negro */
    transition: all 0.3s ease; /* Transición suave para los cambios */
    letter-spacing: 0.2rem; /* Espaciado entre letras */
    font-weight: 200;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/* Efecto hover (al pasar el ratón sobre el botón) */
.button:hover {
    background-color: white;
    color: black; /* Cambiar el color del texto al pasar el ratón */
    border: 2px solid black; /* Borde negro */
}



section {
    padding: 60px 20px;
    text-align: center;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    margin: 0 auto;
    max-width: 600px;
}



.gallery {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    overflow-x: auto; /* Esto permite desplazamiento horizontal si es necesario */
}

.gallery img {
    width: 24%; /* Cada imagen ocupará el 24% del ancho del contenedor */
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Animación para ampliar imagen al pasar el ratón */
}

.gallery img:hover {
    transform: scale(1.05); /* Efecto de ampliación cuando pasas el ratón por encima */
}



/* Contenedor del slider */
.slider {
    width: 100%;  /* Ajusta el ancho general del slider */
    max-width: 1400px; /* Ancho máximo del slider */
    height: 600px; /* Altura del slider */
    overflow: hidden;  /* Ocultar contenido desbordado */
    position: relative;
    margin: 0 auto;
}

/* Contenedor de las imágenes */
.slides {
    display: flex;
    width: calc(100% * 8);  /* Aumentamos el ancho del contenedor para incluir las imágenes duplicadas */
    height: 100%;  /* Ocupa toda la altura del contenedor */
    animation: slide 16s linear infinite; /* Deslizamiento continuo */
}

.slide {
    width: calc(100% / 8);  /* Cada imagen ocupará el ancho calculado */
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Asegura que las imágenes cubran todo el espacio disponible */
    border-radius: 8px;
}

/* Animación para deslizar las imágenes */
@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }  /* Movemos exactamente la mitad (50%) para mostrar las imágenes duplicadas */
}






.info {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.info h1 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
}

.info .hours {
    color: #999999;
    font-style: italic;
    margin-bottom: 40px;
}

.dias{
    color: #000000;
    font-size: 6rem; /* Tamaño de fuente grande */
letter-spacing: 0.2rem; /* Espaciado entre letras */
font-weight: 200;
font-family: 'Helvetica Neue', 'Arial', sans-serif;
font-size: xx-large;

}
.contacto {
    color: #000000;
    font-size: 18px;
    margin-bottom: 10px;
} 


.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
   
}

.info-item {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.info-item img {
    height: 40px;
    margin-bottom: 10px;
}

.info-item h3 {
    color: #000000;
    font-size: 6rem; /* Tamaño de fuente grande */
letter-spacing: 0.2rem; /* Espaciado entre letras */
font-weight: 200;
font-family: 'Helvetica Neue', 'Arial', sans-serif;
font-size: x-large;

}

.info-item p {
    color: #000000;
letter-spacing: 0rem; /* Espaciado entre letras */
font-weight: 400;
font-family: 'Helvetica Neue', 'Arial', sans-serif;
font-size: large;

}

.horarios{
    color: #000000;
    font-size: 30px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;

}
.horarios p {
    color: #000000;
    font-size: 6rem; /* Tamaño de fuente grande */
letter-spacing: 0.2rem; /* Espaciado entre letras */
font-weight: 200;
font-family: 'Helvetica Neue', 'Arial', sans-serif;
font-size: xx-large;

}
.info-container-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}

.menu{
    
        position: absolute; /* O fixed si quieres que el logo siempre esté visible incluso al hacer scroll */
        top: 10px; /* Ajusta el valor según sea necesario */
        left: 10px; /* Ajusta el valor según sea necesario */
    
}



@media (max-width: 768px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 50px;
    }

    .menu li a {
        font-size: 20px;
    }

    .close-button {
        font-size: 20px;
        top: 10px;
        left: 10px;
    }

    .menu li::after {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}